body {
    background: #F9F9F9;
}

a {
    color: #949494
}

a:hover {
    color: #949494
}

.btn {
    border-radius: 0;
}

input, textarea {
    border-radius: 0 !important;
}

.stepwizard-step p {
    margin-top: 10px;
}

.stepwizard-row {
    display: table-row;
}

.stepwizard {
    display: table;
    width: 50%;
    position: relative;
}

.stepwizard-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}

.stepwizard-row:before {
    top: 14px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #ccc;
    z-order: 0;
}

.stepwizard-step {
    display: table-cell;
    text-align: center;
    position: relative;
}

.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 0;
}

.navbar {
    background: #FFF;
    border-bottom: 1px solid #DBD8D8;
    padding: 5px 0;
}

.navbar-brand {
    font-weight: 900;
}

.navbar-default .navbar-nav > li > a {
    font-size: 12px;
}

.btnOrder {
    color: #292929 !important;
    border-color: #292929;
}

.findCourier {
    font-size: 24px;
    font-weight: 900;
}

#info-content {
    text-align: center;
    padding: 10px 20px;
}

#info-content td {
    padding: 5px 5px;
}

#info-content button {
    margin-top: 15px;
}

.hotelIcon {
    display: none;
}

.removeBtn {
    background: #E74C3C;
}

.userBtn {
    padding-left: 50px !important;
}

.pagination {
    margin-bottom: -90px;
    padding-bottom: 20px;
}

.qr-block {
    margin-bottom: 80px;
}

.qr-info {
    margin-top: 30px;
}

.notification {
    margin-right: 20px;
}

.notification-menu li a {
    padding: 15px;
    padding-right: 30px;
    border-bottom: 1px solid #eee;
}

.notification-menu li a:hover {
    cursor: default;
}

.unread {
    background-color: #e5e5e5;
}

#showNotification {
    overflow-x: scroll;
    height: 250px;
}

.btn-success {
    color: #fff;
    background-color: #292929;
    border-radius: 0;
    border: none;
}

.btn-danger {
    border-radius: 0;
    border: none;
}

.nav-pills li.active a {
    border-radius: 0;
    background: #292929;
}

.pagination li.active span {
    background: #292929;
    border-color: #292929;
}

.pagination li a {
    color: #949494
}

.pagination li a:hover {
    color: #949494
}

.notyIcon {
    font-size: 20px;
}

.newNotyIcon {
    font-size: 25px;
    position: absolute;
    top: 3px;
    left: 35px;
    color: #9f3a38;
}

#markAsRead {
    position: relative;
}

.rate-user {
    text-align: center;
    padding: 20px;
}

.rate-user p {
    font-size: 16px;
    font-weight: 900;
}

.br-widget {
    display: flex;
    justify-content: center;
}

.modal-content {
    border-radius: 0;
}

.rateBtn {
    margin-top: 10px;
    background: #292929;
    border: none;
}

.slider-horizontal {
    width: 100% !important;
}

.slider-selection {
    background: #292929 !important;
}

.slider-handle {
    background: #292929 !important;
}

.slider-track {
    height: 5px !important;
}

.slider-handle {
    border-radius: 0 !important;
    height: 15px !important;
    width: 15px !important;
}

.slider-track-high {
    background: #DCDCDC !important;
}

.input-group-btn button {
    background: #292929;
}

.input-group-btn button i {
    color: #fff
}

.avatarInfo {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-right: 15px;
}